body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  color: #fff;
}

p{
  color: #b2b2b2;
}

.container{
  text-align: left;
  background-color:#111 ;
  padding: 20px 30px;
  margin: 30px;
  border-radius:4px ;
  border: 10px solid #febe01;
}

span{
  color: #febe01;
}

button{
  padding: 10px;
  background-color: #febe01;
  border-radius:4px ;
}

.div-exercicio{
  margin-right: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  text-align: center;
}
.div-exercicio img{
  border: 10px solid rgb(194, 190, 190);
  border-radius: 10px;
  max-width: 100%;
}